{% if  object.image_gallery %}
  {% assign data = site.image_galleries  | where: 'slug', object.image_gallery | first %}
{% elsif page.image_gallery %}
{% assign data = site.image_galleries  | where: 'slug', page.image_gallery | first %}
{% endif %}
{% assign limit = include.limit %}
{% if data %}
  {% assign gallery = data.gallery %}
  <div id="book-extra" class="px3 py3">
    <h2 class="h1 lg-h0">
      {{ data.title | markdownify | remove: '<p>' | remove: '</p>' }}
    </h2>
    <div id="gallery" class="flex flex-wrap grid col-12">
      {% for object in gallery limit:limit %}
        <div class="grid-item  col-12 md-col-6 lg-col-3 bg-silver borderTK border-divider-color p2">
          <img src="{{ object.image_path }}" alt="" class="col-12"/>
          <br />
          <div class="col-12 h4 pt1">
            {{ object.caption }}
            {% if object.credit %}
              <span class="h6 muted font-small block col-12">credit: {{ object.credit }}</span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="center my4">
      {% if limit %}
        <a href="{{ object.url }}#book-extra" class="text-decoration-none center font-small btn btn-primary">
          Click Here See the Full Gallery
        </a>
      {% else %}
        <a href="#book-extra" class="text-decoration-none">
          — top —
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
