{% assign image = object.featured_image_path | prepend: site.image_url | remove: 'uploads/' | append: '?w=400' %}
{% assign collection = site.collections | where: 'label', object.collection | first  %}

<div class="flex col-12 sm-col-6 md-col-3 lg-col-4 border-box p1 lg-p2TK text-decoration-none black">    
  <div class="relative{{ include.classes }}">  
    
    {% if object.featured_image_path %}
      <img src="{{ image }}"  class="fit" alt="Featured image for {{ object.title }}">
    {% endif %}    
    
    <div class="mt0 px2 py2">

    <div class="h5 red">
        {% if date %}
        {% include components/date.html date=date %}
        {% endif %}
        
      </div>

      <h1 class="h4 name">
        {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}
      </h1>      

      

      {% if object.content %}
        <div class="h6 pb3">
          {{ object.content | markdownify }}
        </div>
      {% endif %}
      
    </div>
    
    {% if object.location %}  
      <div class="absolute bottom-0 right-0 mr1 mb1 h6 gray">
        {{ object.location  }} <img src="/assets/images/ic_map_black_24px.svg" style="height:1.25em;">
      </div>
    {% endif %}   

  </div>
</div>
