---
layout: default
---
{% assign title = page.title %}
{% assign url = page.url %}
{% assign subtitle = page.subtitle %}
{% assign genre = page.genre %}
{% assign description_markdown = page.description_markdown %}
{% assign cover_image_path = page.cover_image_path %}
{% assign publication_date = page.publication_date %}
{% assign editions = page.editions %}
{% assign pubdate = page.publication_date | date: "%Y%m%d" %}
{% assign editions = page.editions %}
<div{% if page.background_image_path %} class="bg-cover bg-repeat-none white" style="background-image:url({{ page.background_image_path }});"{% endif %}>
  <article class="hentry h3 {% if page.class %} {{page.class}}{% endif %}{{ site.base-layout-classes-wide }} clearfix mb2">
    {% include books/layout.html %}
  </article>
</div>

{% if page.layout == 'book' %}
<div class="{{ site.base-layout-classes-wide }}">
    {% include books/related-reviews.html %}
</div>
{% endif %}

{% comment %}
<!-- image gallery -->
{% include image-gallery.html %}

 {% endcomment %}
<div class="px3 center mb4 col-12 log-col-3 mx-autoflex clearfix gray font-small">
  {% include books/buy-links.html classes=list_classes %}
</div>
