---
layout: default
---
{% assign books = site.books | sort: 'publication_date' | reverse  %}
  {% for object in books  %}
    {% assign title = object.title %}
    {% assign content = object.content %}
    {% assign url = object.url %}
    {% assign subtitle = object.subtitle %}
    {% assign genre = object.genre %}
    {% assign description_markdown = object.description_markdown %}
    {% assign cover_image_path = object.cover_image_path %}
    {% assign publication_date = object.publication_date %}
    {% assign editions = object.editions %}
    {% assign pubdate = object.publication_date | date: "%Y%m%d" %}
    {% assign editions = object.editions %}
    <article class="hentry{% if page.class %} {{page.class}}{% endif %}{{ site.base-layout-classes-wide }} clearfix mb4">
      {% include books/layout.html %}
    </article>
  {% endfor %}
