---
layout: page-listing
---
<div class="col-12 md-col-10 lg-col-9 mx-auto" id="filter">
  {% if page.title %}
    <h1 class="p3">
      {{ page.title }}
    </h1>
  {% endif %}

  <ul class="list-reset mt0">
    {% for object in site.events %}
      {% assign todays_date = site.time | date: "%Y%m%d" | to_integer %}
      {% assign event_date = object.start_at | date: "%Y%m%d" | to_integer %}
      {% assign date = object.start_at  %}
      {% if event_date >= todays_date %}
        <li class="col-12">
          {% assign date = object.date %}
          <a href="{{ object.url }}" class="text-decoration-none hover-bg-dark-primary-color hover-white  px3 py3 block primary-text-color bold border-bottom border-divider-color">
            {% if object.start_at %}
              <time datetime="{{ object.date | date_to_xmlschema }}" itemprop="datePublished" class="block font-family-sans accent-color">
                {{ object.start_at | date: "%b %-d, %Y" }}
              </time>
            {% endif %}
            <span class="h2">{{ object.title }}</span>
            {% if object.content %}
              {{ object.content | markdownify }}
            {% endif %}

            {% if object.venue %}<br />
              <div class="font-family-sans">
                {% include events/venue.html %}
              </div>
            {% endif %}
          </a>

        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
