---
layout: default
---
{% assign books = site.books | sort: 'publication_date' | reverse %}




  <div class="h2 sm-h1 md-h1 lg-h1 font-heading line-height-4 clearfix mx3 sm-mx3 md-mx-auto lg-mx-auto lg-col-10 py2 lg-p3 mt2 lg-mt4 pb1 text-decoration-none black">
{{ site.description }}
  </div>
  <a data-scroll href="#book" class="h1 center block pb4" style="display:none;">
    <img src="/uploads/site/ic_keyboard_arrow_down_white_24px.svg" alt="scroll down" class=" p0 center m4 circle bg-accent-color" style="height:50px;" />
  </a>

{% for object in books limit: 1 %}
<div id="book" class="lg-col-9 mx3 lg-mx-auto clearfix my2 lg-my4">


    {% assign editions = object.editions %}
    {% assign review = object.reviews[0] %}
    {% assign description_markdown = object.description_markdown %}

    <div class="md-col lg-col col-12 md-col-5 lg-col-5">
      {% if description_markdown %}
        <div class="h2 clearfix col-12">
          {{ description_markdown | markdownify  }}
        </div>
      {% endif %}

      {% if object.image_galleryTK %}
      <!-- image gallery -->
        {% include image-gallery-button.html %}
      {% endif %}

      {% comment %}
        <blockquote class="lede m0 accent-color">
          “{{ review.copy_markdown | markdownify | remove: '<p>' | remove: '</p>' }}”
        </blockquote>
        <div class="black bold h5 text-decoration-none accent-color">
          — {{ review.attribution | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
      {% endcomment %}
      <div class="my4 col-12 flex clearfix gray font-small">
        {% include books/buy-links.html classes=list_classes %}
      </div>
    </div>

    <div class="md-col lg-col col-12 md-col-5 lg-col-5 lg-ml4 mb4">
      {% if object.cover_image_path %}
        <a href="{{ object.url }}">
          <img src="{{ object.cover_image_path }}" alt="cover image for {{ object.title }}" class="box-shadow-small-black transition" />
        </a>
      {% endif %}
    </div>


</div>


<div class="{{ site.base-layout-classes-wide }}">
    {% include books/related-reviews.html %}
</div>

{% comment %}
<!-- image gallery -->
  {% include image-gallery.html limit=10 %}

<div class="px3 center mb4 col-12 log-col-3 mx-autoflex clearfix gray font-small">
  or
  {% include books/buy-links.html classes=list_classes %}
</div>
 {% endcomment %}

{% endfor %}
