---
layout: default
schema: https://schema.org/WebPage
---
{% assign link_classes = 'block text-decoration-none hover-gray px2 py1 black hover-bg-black hover-white' %}
{% assign box_classes = ' border rounded border-silver hover-bg-orange hover-white bg-transition' %}

<div class="clearfix col-12">
  <div class="md-col lg-col col-12 md-col-2 lg-col-3 py3 bg-near-white">

    <ul class="list-reset">
      {% for category in site.categories %}
        {% assign category_slug = category[0] | slugify  %}
        <li class="col-12">
          <a href="/category/{{ category_slug }}" class="right-align text-decoration-none block px4 py1 primary-text-color hover-white hover-bg-primary-color transition{% if page.url contains category_slug %} bg-primary-color{% endif %}">
            {{ category[0] | capitalize | replace: '-', ' ' }}
          </a>
        </li>
      {% endfor %}

      <li class="col-12">
        <a href="/events/" class="right-align text-decoration-none block px4 py1 primary-text-color hover-white hover-bg-primary-color transition">
          Events
        </a>
      </li>
    </ul>

  </div>



  {{ content }}
</div>


{% comment %}

<div class="media flex-wrap">
  {% for post in site.posts  %}
    <div class="p4 bg-near-white border media-body">
      <a href="{{post.url}}">
        {{ post.title }}
      </a>
    </div>
  {% endfor %}
</div>
{% endcomment %}
