<style media="screen">
.font-heading { font-family: {{ site.font-heading }} }
.font-primary { font-family: {{ site.font-primary }} }
.font-small { font-family: {{ site.font-small }} }
.font-weight-heavy { font-weight: {{ site.font-weight-heavy }} }

a {color: {{ site.accent-color }}  }
.muted { opacity: .5 }
.white {color: {{ site.white }}  }
.bg-white {background-color: {{ site.white }}  }
.hover-white:hover {color: {{ site.white }}  }
.near-white {color: {{ site.near-white }}  }
.bg-near-white {background-color: {{ site.near-white }}  }
.black {color: {{ site.black }}  }
.bg-black {background-color: {{ site.black }}  }
.hover-bg-black:hover {background-color: {{ site.black }}  }
.hover-black:hover {color: {{ site.black }}  }

.primary-color-light {color: {{ site.primary-color-light }}  }
.bg-primary-color-light {background-color: {{ site.primary-color-light }}  }
.hover-bg-primary-color-light:hover {background-color: {{ site.primary-color-light }}  }
.hover-primary-color-light:hover {color: {{ site.primary-color-light }}  }

.primary-color {color: {{ site.primary-color }}  }
.bg-primary-color {background-color: {{ site.primary-color }}  }
.hover-bg-primary-color:hover {background-color: {{ site.primary-color }}  }
.hover-primary-color:hover {color: {{ site.primary-color }}  }

.primary-color-dark {color: {{ site.primary-color-dark }}  }
.bg-primary-color-dark {background-color: {{ site.primary-color-dark }}  }
.hover-bg-primary-color-dark:hover {background-color: {{ site.primary-color-dark }}  }
.hover-primary-color-dark:hover {color: {{ site.primary-color-dark }}  }

.primary-color-text  {color: {{ site.primary-color-text }}  }
.primary-text-color  {color: {{ site.primary-text-color }}  }
.secondary-text-color  {color: {{ site.secondary-text-color }}  }
.accent-color {color: {{ site.accent-color }}  }
.hover-accent-color:hover {color: {{ site.accent-color }}  }
.bg-accent-color {background-color: {{ site.accent-color }}  }
.hover-bg-accent-color:hover {background-color: {{ site.accent-color }}  }

.border-divider-color  { border-color: {{ site.divider-color); }}  }
.btn {
  font-weight: 400;
  margin: 0 .5em .75em 0;
}

.btn-primary {
  color: white;
  background-color:{{ site.accent-color }} ;
}

</style>
