{% assign current_unix_date = site.time | date: "%Y%m%d" %}
<div id="buy-links">
  <h5>
    {% if pubdate < current_unix_date %}buy{% else %}preorder{% endif %} <em>{{ item.name }}</em> from these retailers
  </h5>
  <div class="">    
    {% for edition in editions %}



      {% if forloop.first %}Available editions: {% endif %}
{{ edition.binding }}{{ unless forloop.last }}, {{ endunless }}
    {% endfor %}    
  </div>

  {% if page.distributor_link %}
    <a href="{{ page.distributor_link }}" target="_blank" class="{{ edition.type }} {{ include.classes }}">
      Buy {% if page.distributor %}{{ page.distributor }}{% endif %}
    </a>
    <br />
  {% endif %}

  {% for edition in editions %}
    
     <div class="mb2">
      <h4>{{ edition.binding }}</h4>
        {% assign type = edition.binding %}
      {% assign isbn = edition.isbn %}
      {% if type == 'paperback' or type == 'hardcover' and isbn != '' %}
        {% unless page.hide_indiebound == true %}
          <a href="http://www.indiebound.org/product/info.jsp?isbn={{ isbn }}" target="_blank" class="{{ edition.type }} {{ include.classes }}">
            Your Independent Bookstore
          </a>
        {% endunless %}
        <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={{ isbn }}" target="_blank" class="{{ edition.type }} {{ include.classes }}">
          Barnes & Noble
        </a>
        <span id='isbn10_{{ isbn }}'></span><!--  pulls in 10 digit ASIN for -->
        {% include books/buy-links-isbn10to13.js %}
      {% elsif type == 'ebook' and isbn != '' %}
        <a href="http://itunes.apple.com/us/book/isbn{{ isbn }}" target="_blank" class="{{ edition.type }} {{ include.classes }}">
          Apple iBooks
        </a>
      {% endif %}
     </div>
    
  {% endfor %}
</div>
