{% assign current_unix_date = site.time | date: "%Y%m%d" %}
<div id="buy-links">

  <h5>
    {% if pubdate < current_unix_date %}buy{% else %}preorder{% endif %} <em>{{ item.name }}</em> from these retailers
  </h5>

  {% comment %}<!-- do ebooks separate from other types -->
  <div class="mb2">
    {% for edition in editions %}
      {% if forloop.first %}Available editions: {% endif %}
      {{ site.bindings.[edition.binding] }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </div>
  {% endcomment %}
  {% if page.distributor_link %}
    <a href="{{ page.distributor_link }}" target="_blank" class="{{ edition.type }} {{ site.button-classes }}">
      Buy {% if page.distributor %}{{ page.distributor }}{% endif %}
    </a>
    <br />
  {% endif %}

  <div class="mb2">
    {% comment %}<!-- we only need buttons for the top-most edition, because buttons will usually lead to all editions -->{% endcomment %}
    {% for edition in editions limit:1 %}

      {% assign binding = edition.binding %}
      {% assign isbn = edition.isbn %}
      {% if binding == 'paperback' or binding == 'hardcover' and isbn != '' %}
        <a href="http://www.indiebound.org/product/info.jsp?isbn={{ isbn }}" target="_blank" class="{{ binding }} {{ site.button-classes }}">
          Your Independent Bookstore
        </a>
        <a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?EAN={{ isbn }}" target="_blank" class="{{ binding }} {{ site.button-classes }}">
          Barnes & Noble
        </a>
        <span id='isbn10_{{ isbn }}'></span><!--  pulls in 10 digit ASIN for -->
        {% include books/buy-links-isbn10to13.js %}
      {% endif %}
    {% endfor %}

    {% comment %}<!-- do ebooks separate from other types -->{% endcomment %}
    {% assign ebook =  editions | where_exp: "item", "item.binding == 'ebook'"  %}

    {% if ebook[0].isbn  %}
      <a href="http://itunes.apple.com/us/book/isbn{{ ebook[0].isbn }}" target="_blank" class="{{ ebook[0].binding }} {{ site.button-classes }}">
        Apple iBooks
      </a>
    {% endif %}
  </div>

</div>
