<header class="col-12">
  {% if title %}
    <h1 class="book-title m0">
      <a href="{{ url }}" class="text-decoration-none black hover-gray">
        {{ title|safe }}
      </a>
      {% if subtitle %}
        {% if subtitle.size > 10 %}
          <br />
        {% endif %}
        <span style="font-weight:400;font-size:.5em;">
          {{ subtitle }}
        </span>
      {% endif %}
    </h1>
  {% endif %}
  {% if genre %}
    <h6>
      <small>
        {{ genre}}
      </small>
    </h6>
  {% endif %}
</header>


  <div class="col-12 sm-col sm-col-5 md-col lg-col md-col-5 lg-col-5 sm-pr2 md-pr2 lg-pr2">
    {% if cover_image_path %}
      <img class="box-shadow-small-black transition my3" src="{{ cover_image_path }}" />
    {% endif %}
    {% if publication_date %}
      <h5>
        Publication Date: {{ publication_date | date: "%b %-d, %Y" }}
      </h5>    
    {% endif %}
    
    {% for edition in editions %}
      <div class="col-12 mb1">
        {{ site.bindings.[edition.binding] }}: {{ edition.isbn }}
      </div>    
    {% endfor %}
  </div>

<div class="col-12 sm-col sm-col-7 md-col lg-col md-col-7 lg-col-7 sm-pl2 md-pl2 lg-pl2">
  {{ content | markdownify }}
  {% if editions %}
  <div id="buying-information" class="clearfix">
    {% include books/buy-links.html %}
  </div>
{% endif %}
{% if page.layout == 'book' %}
  {% include books/related-reviews.html %}
{% endif %}

</div>
