<header class="col-12 lg-mt4">
  {% if title %}
    <h1 class="book-title mt3 lg-h0">
      {% if object.title %}
        <a href="{{ url }}" class="text-decoration-none m0">
          {{ title | markdownify | remove: '<p>' | remove: '</p>'  }}
        </a>
      {% elsif page.title %}
        {{ title | markdownify | remove: '<p>' | remove: '</p>' }}
      {% endif %}
      {% if subtitle %}
        {% if subtitle.size > 10 %}
          <br />
        {% endif %}
        <span class="h2 font-small">
          {{ subtitle }}
        </span>
      {% endif %}
    </h1>
  {% endif %}
  {% if object.genre %}
    <h6>
      <small>
        {{ genre }}
      </small>
    </h6>
  {% endif %}
</header>


  <div class="col-12 sm-col sm-col-5 md-col lg-col md-col-5 lg-col-5 sm-pr2 md-pr2 lg-pr2 font-small">
    {% if cover_image_path %}
      <img class="box-shadow-small-black transition my3" src="{{ cover_image_path }}" />
    {% endif %}
    {% if publication_date %}
      <h5>
        Publication Date: {{ publication_date | date: "%b %-d, %Y" }}
      </h5>
    {% endif %}

    {% for edition in editions %}
      <div class="col-12 mb1 h5">
        {{ site.bindings.[edition.binding] }}: {{ edition.isbn }}
      </div>
    {% endfor %}
  </div>

<div class="col-12 sm-col sm-col-7 md-col lg-col md-col-7 lg-col-7 sm-pl2 md-pl2 lg-pl2">
  {% if description_markdown %}
    <div class="h2">
      {{ description_markdown | markdownify  }}
    </div>
  {% endif %}
  {% comment %}
  <!-- image gallery -->
  {% if object.image_gallery or page.image_gallery %}
    {% include image-gallery-button.html %}
  {% endif %}
 {% endcomment %}
  {{ content | markdownify }}



  {% if editions %}
  <div id="buying-information" class="clearfix font-small">
    {% include books/buy-links.html %}
  </div>
{% endif %}
</div>
