{% assign reviews = site.posts | where: 'category', 'reviews' %}
{% assign reviews = reviews | where: 'book', page.slug %}


{% if reviews %}<h2 style="margin-top:2em;">Praise for <em>{{ page.title }}</em></h2>{% endif %}

{% for review in reviews limit: 20 %}
  <blockquote class="review unadorned">
    {% if review.description %}
      <p class="quote_excerpt">
        {{ review.description | markdownify }}
      </p>
    {% elsif review.content %}
      {{ review.content | markdownify }}
    {% endif %}
    – {{ review.title | markdownify | remove: '<p>' | remove: '</p>' }}
  </blockquote>
{% endfor %}
